<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css.css" />
    <title>Home</title>
</head>
<body>
<!-- Input field for search -->
<div class="container mt-4">
<form action="#" th:action="@{/song/}" method="get">
    <label for="search">Search</label>
    <input  type="text" id="search" name="search" th:id="search" required placeholder="songname">
    <button class="btn-sm btn-primary" type="submit">Search &raquo; </button>
</form>
</div>

<!-- Three column layout -->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <h3> Random artists </h3>
            <ul>
                <th:block th:each="artist : ${artists}">
                    <li th:utext="${artist}">..</li>
                </th:block>
            </ul>
        </div>


        <div class="col-sm">
            <h3> Random songs </h3>
            <th:block th:each="song : ${songs}">
                <li th:utext="${song}">..</li>
            </th:block>
        </div>


        <div class="col-sm">
            <h3> Random genres </h3>
            <th:block th:each="genre : ${genres}">
                <li th:utext="${genre}">..</li>
            </th:block>
        </div>


    </div>
</div>






<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"
></script>
<script src="js.js"></script>
</body>
</html>